<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoleBasedTelemedicinePatient">

        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />

        <activity
            android:name=".ProfileActivity"
            android:exported="true" />

        <activity
            android:name=".ConsultDoctorActivity"
            android:exported="true" />

        <activity
            android:name=".PastConsultationsActivity"
            android:exported="true" />

        <activity
            android:name=".CheckSymptomsActivity"
            android:exported="true" />

        <activity
            android:name=".MedicinesActivity"
            android:exported="true" />

    </application>

</manifest>
